<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuildStaticFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IBDesignableKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IBDesignableKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IBDesignableStaticLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5B691EF1DACBBFE000E7393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B691F91DACBC7A000E7393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B6922E1DACC336000E7393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D1B3C31D97FAE6001F831C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D1B3E21D97FBBC001F831C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
